<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
	<title>Academic Information</title>
	<link rel="stylesheet" href="../lib/css/sidebar.css">
    <link rel="stylesheet" href="../lib/css/w3.css">
    <link rel="stylesheet" href="../lib/css/font-awesome.css">
	
    <link rel="shortcut icon" href="https://chcc.ga/Logo.png" type='image/x-icon'>
    <script type="text/javascript" src="../lib/js/timer.js"></script>
    <script type="text/javascript" src="../lib/js/adminTabs.js"></script>
    <script type="text/javascript" src="../lib/js/academics.js"></script>
</head>
<body>
	
